<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
   <link rel="stylesheet" href="css/stuview.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="height:50px;" >
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button" style="width:49% ;color:white;font-size:15px;" onclick="window.location.href='pass.hbs'">Change Password</button>&nbsp;
      <button class="btn btn-outline-success me-2" type="button"style="width:49%;color:white;font-size:15px;" onclick="window.location.href='login.hbs'" >Logout</button>
    </form>
  </nav>
    <center>
        <h1 style="font-size: 50px;">Attendance Report  </h1>
        <h2 style="color: rgb(157, 243, 20);"><b>Attendance matters, Each Day, Every Day!</b></h2>
        <br><br>
        <h1 style="font-size:50px; font-color:rgb(120, 52, 146)"> Investment in Knowledge pays the best Interest !! </h1> 
        <br><br><br><br>
         
        <h2 style="color: rgb(228, 243, 20);">Attendence reports show not just a number it also shows how perseverant you are !</h2>
        <h2 style="color: rgb(20, 243, 206);">To check your Attendence status click here</h2>
       <a href="/studentpage.hbs">
       <img src="https://www.camulos.com.au/custom/uimages/94ClickMeButton.png"/>
       
</center>
</body>
</html>